body{
    margin: 0;
    background-color: pink
}

p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.img, .avatar{
    width:180px;
    height: 100px;
    object-fit:cover;
    border-radius: 100px;
}
